<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
       xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/security
       http://www.springframework.org/schema/security/spring-security-3.2.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd"
       xmlns:context="http://www.springframework.org/schema/context">
 
 <!-- Below is simple bean creation without dependency injection -->
 <!--  <beans:bean id="baseballCoach" class="com.springConfigBeans.springconfigbeans.BaseBallCoach" >  /beans:bean  -->
 
<context:property-placeholder location="classpath:application.properties"/>

 
<beans:bean id="myFortune" class="com.springConfigBeans.springconfigbeans.HappyFortuneService" />  
  
  
  
  <beans:bean  id="baseballCoach" class="com.springConfigBeans.springconfigbeans.BaseBallCoach" scope="singleton">
     <!-- set up constructor injection -->
	  <beans:constructor-arg ref="myFortune" />
   </beans:bean> 


  <beans:bean  id="tennisCoach" class="com.springConfigBeans.springconfigbeans.TennisCoach"
        init-method="doMyStartupStuff"  
 		destroy-method="destroy" >
     <!-- set up setter injection -->
     <beans:property name="fortuneService" ref="myFortune" />  
      <beans:property name="email" value="${foo.email}"/>  
    </beans:bean>
   
</beans:beans>